ACTION=="add", SUBSYSTEM=="net", ATTR{type}=="1", RUN+="/config/scripts/autoload-wfb-nics.sh"
ACTION=="remove", SUBSYSTEM=="usb", RUN+="/config/scripts/autoload-wfb-nics.sh"
