[Unit]
Description=Rename Wireless Interface
After=network.target

[Service]
ExecStart=/config/scripts/autoload-wfb-nics.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
